{{#> layout}}
    {{#content "body"}}
        <br>
        <div class="card">
            <div class="card-header">Create an account</div>
            <div class="card-body">
                <form id="register-form">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" name="username" aria-describedby="username-info" type="text" class="form-control" required="required">
                        <small id="username-info" class="form-text text-muted">Please choose an appropriate username.</small>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-Mail Address</label>
                        <input id="email" name="email" aria-describedby="email-info" type="text" class="form-control" required="required">
                        <small id="email-info" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password1" name="password1" aria-describedby="password1-info" type="password" class="form-control" required="required">
                        <small id="password1-info" class="form-text text-muted">Passwords are hashed via <a href="https://en.wikipedia.org/wiki/Argon2">Argon2</a>.</small>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Confirm password</label>
                        <input id="password2" name="password2" aria-describedby="password2-info" type="password" class="form-control" required="required">
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </div>
        <br>
    {{/content}}
{{/layout}}